$primary-background-color: #ffffff;
$secondary-background-color: #cecece;
$tertiary-background-color: #04838f;

$primary-text-color: #171717;
$secondary-text-color: #cecece;
$tertiary-text-color: #e8f3f4;

$first-chart-color: #793d52;
$second-chart-color: #956065;
$third-chart-color: #89a2db;
$fourth-chart-color: #9780a1;
$fifth-chart-color: #bfe0f1;
$sixth-chart-color: #b8cbe7;