.chart-wrapper {
    position: relative;
    width: 500px;
    height: 250px;
}

@media screen and (max-width: 500px) {
    .chart-wrapper {
        width: 320px;
        height: 200px;
    }
}

@media screen and (max-width: 320px) {
    .chart-wrapper {
        width: 280px;
        height: 180px;
    }
}