
<p>{{ (olympics$ | async)?.length }} data loaded</p>
<ul>
  <li *ngFor="let olympic of (olympics$ | async)">
    <a routerLink="/olympic-country/{{ olympic.id }}">{{ olympic.country }} ({{ olympic.participations.length }} participations)</a>
    <ul>
      <li *ngFor="let participation of olympic.participations">
        {{ participation.year }} - {{ participation.city }} :
        {{ participation.medalsCount }} medals, {{ participation.athleteCount }}
        athletes
      </li>
    </ul>
  </li>
</ul>

<app-countries-pie-chart></app-countries-pie-chart>