@use '../../styles/variables' as *;

.page-header {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 2px solid $tertiary-background-color;
    height: 50px;
}

.page-header h1 {
    margin: 0;
    padding: 0 20px;
    font-size: 24px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-header nav{    
    margin: 0;
    padding: 0;
}

.page-header nav ul{    
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-header nav li{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.page-header nav a{
    color: $primary-text-color;
    margin: 0;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.page-header nav a:hover{
    background-color: $tertiary-background-color;
    color: $tertiary-text-color;
}

