/* You can add global styles to this file, and also import other style files */
@use 'app/styles/variables' as *;

body {
    font-family: 'Segoe UI';
    color: $primary-text-color;
    background-color: $primary-background-color;
    padding: 0;
    margin: 0;
}

.page-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
